@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 17, 24, 39;
  --background-end-rgb: 17, 24, 39;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb:  26, 25, 24;
    --background-end-rgb:  26, 25, 24;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

html {
  scroll-behavior: smooth;
}
/* Custom Scroll Bar */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #ffffff2d #1a1918;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  padding-top: 1px;
  padding-bottom: 1px;
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #1a1918;
}

*::-webkit-scrollbar-thumb {
  background-color: #d9d9d91f;
  border-radius: 14px;
}

*::-webkit-scrollbar-thumb:hover{
  background-color: #d9d9d961;
}